@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 255 25% 96%;
    --foreground: 255 20% 8%;
    --card: 255 25% 96%;
    --card-foreground: 255 20% 8%;
    --popover: 255 25% 96%;
    --popover-foreground: 255 20% 8%;
    --primary: 261 35% 47%;
    --primary-foreground: 255 25% 96%;
    --secondary: 261 25% 90%;
    --secondary-foreground: 255 20% 12%;
    --muted: 261 25% 90%;
    --muted-foreground: 255 15% 40%;
    --accent: 261 40% 60%;
    --accent-foreground: 255 25% 96%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 255 25% 96%;
    --border: 261 25% 87%;
    --input: 261 25% 87%;
    --ring: 261 35% 47%;
    --radius: 0.5rem;
    --chart-1: 261 35% 47%;
    --chart-2: 261 40% 60%;
    --chart-3: 251 35% 52%;
    --chart-4: 271 40% 65%;
    --chart-5: 246 35% 65%;
    --sidebar-background: 255 25% 96%;
    --sidebar-foreground: 255 20% 8%;
    --sidebar-primary: 261 35% 47%;
    --sidebar-primary-foreground: 255 25% 96%;
    --sidebar-accent: 261 40% 60%;
    --sidebar-accent-foreground: 255 25% 96%;
    --sidebar-border: 261 25% 87%;
    --sidebar-ring: 261 35% 47%;
  }
 
  .dark {
    --background: 261 55% 2%;
    --foreground: 261 25% 96%;
    --card: 261 55% 2%;
    --card-foreground: 261 25% 96%;
    --popover: 261 55% 2%;
    --popover-foreground: 261 25% 96%;
    --primary: 261 35% 47%;
    --primary-foreground: 261 25% 96%;
    --secondary: 261 35% 6%;
    --secondary-foreground: 261 25% 96%;
    --muted: 261 35% 6%;
    --muted-foreground: 261 20% 60%;
    --accent: 261 40% 60%;
    --accent-foreground: 261 25% 96%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 261 25% 96%;
    --border: 261 35% 10%;
    --input: 261 35% 10%;
    --ring: 261 35% 47%;
    --chart-1: 261 35% 47%;
    --chart-2: 261 40% 60%;
    --chart-3: 251 35% 52%;
    --chart-4: 271 40% 65%;
    --chart-5: 246 35% 65%;
    --sidebar-background: 261 55% 2%;
    --sidebar-foreground: 261 25% 96%;
    --sidebar-primary: 261 35% 47%;
    --sidebar-primary-foreground: 261 25% 96%;
    --sidebar-accent: 261 40% 60%;
    --sidebar-accent-foreground: 261 25% 96%;
    --sidebar-border: 261 35% 10%;
    --sidebar-ring: 261 35% 47%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
